.admin-com-container {
  margin: 0 auto;
  width: 920px;
  height: 94%;
  
  .admin-com-container-wrapper {
    padding: 0 36px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    min-height: 100%;
    position: relative;
  }

  .admin-com-top {
    margin-bottom: 20px;

    .created-search-space-between {
      padding: 24px 0;
      display: flex;
      justify-content: space-between;

      .search-input {
        width: 350px;
      }
      .search-result-text {
        display: block;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
      }
    }
    .group-display {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      transition: all 0.5s ease;
      border: 1px solid #dcdfe6;
      padding-left: 12px;
      border-radius: 4px;

      &.hidden {
        max-height: 40px;
        overflow: hidden;
      }

      &.display {
        max-height: 1000px;
      }

      .control-icon {
        position: absolute;
        width: 20px;
        height: 20px;
        right: 5px;
        top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .icon-container {
          height: 16px;
          width: 16px;
          background-size: 100% 100%;
        }
      }
      .title {
        margin-right: 10px;
        padding: 10px 0;

        .group-title {
          font-size: 14px;
          display: inline-block;
          height: 20px;
          line-height: 20px;
        }
      }
      .group-item {
        margin-right: 40px;
        display: flex;
        padding: 10px 0;

        .group-name {
          font-size: 14px;
          cursor: pointer;
          height: 20px;
          line-height: 20px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: 140px;
          color: #222;

          &.active {
            color: $primary;
          }
        }

        .group-count {
          color: #dcdfe6;
          height: 20px;
          margin-left: 3px;
          line-height: 20px;
        }
      }
    }
  }
  .admin-com-bottom {

    .group-wrapper {
      display: flex;
      height: 30px;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
      padding: 0 15px;
      margin-bottom: 15px;

      .group-operate-btn {
        font-size: 14px;

        i {
          color: $primary;
          margin-right: 5px;
          cursor: pointer;
        }
      }
    }
    .no-project-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 160px;

      .no-project-icon {
        width: 170px;
        height: 120px;
      }
      .no-project-text {
        font-size: 18px;
        color: #999;
        margin-top: 24px;
      }
    }
    .card-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;

      .card-item {
        flex: 0 0 23.5%;
        margin-bottom: 24px;
        margin-right: 2%;
        height: 100%;

        .box-card {
          height: 100%;
          height: 150px;
        }
        .card-content {
          .card-icon {
            text-align: center;
            font-size: 45px;
          }
          p {
            text-align: center;
          }
        }

        &:nth-child(4n) {
          margin-right: 0;
        }
        &:last-child {
          margin-bottom: 80px;
        }

        &:hover {
          cursor: pointer;
        }
        &.project {

          &:hover {
            .project-share {
              display: block;
            }
          }
          .image-wrapper {
            height: 110px;
          }
          .project-image {
            width: 100%;
            height: 100%;
          }
          .project-name {
            font-size: 18px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            height: 24px;
            line-height: 24px;
            width: 170px;
          }

          .bottom-flex {
            display: flex;
            justify-content: space-between;
            margin-top: 6px;
            align-items: center;

            .bottom-left {
              .state-icon {
                height: 16px;
                width: 16px;
                display: inline-block;
              }
              .project-state {
                font-size: 12px;
              }
            }
          }
          .project-share {
            display: none;

            .oprerate-icon {
              font-size: 16px;
              color: $primary;
            }
          }
          .share-code {
            width: 100px;
            height: 150px;
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
            border: 1px solid #ebeef5;
            position: absolute;
            top: 35px;
            background-color: #fff;
            right: 3px;
          }
        }
      }
    }
    .pagination-wrapper {
      position: absolute;
      bottom: 0;
      right: 36px;
      padding: 24px 0;
    }
  }
  .projects-wrapper {
    .projects-checkbox-group {
      display: flex;
      flex-direction: column;
      max-height: 300px;
      overflow: auto;

      .el-checkbox {
        margin-left: 0px;
      }
    }
  }
}
.dropdown-container {
  width: 200px;

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
      display: block;
      width: 16px;
      height:16px;
      margin-right: 5px;
    }
  }
  .code-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    .code {
      width: 200px;
      height: 200px;
    }
  }
}
.dropdown-delete-container {
  width: 300px;
  padding: 10px 15px;

  .title {
    text-align: center;
  }
  .content-item {
    margin-bottom: 10px;
  }
  .el-dropdown-menu__item {
    padding: 0;
    .el-button {
      width: 100%;
    }
  }
}