.admin-com-container {
  margin: 0 10%;

  .card-wrapper {
    display: flex;
    flex-wrap: wrap;

    .card-item {
      flex: 23% 0 0;
      margin-bottom: 2%;
      margin-right: 2%;
      .box-card {
        height: 100%;
      }
      .card-content {
        .card-icon {
          text-align: center;
          font-size: 45px;
        }
        p {
          text-align: center;
        }
      }

      &:nth-child(4n) {
        margin-right: 0;
      }

      &:hover {
        cursor: pointer;
      }
      &.project {
        position: relative;
        box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
        border: 1px solid #ebeef5;

        &:hover{
          .project-share {
            display: block;
          }
        }

        .project-image {
          width: 100%;
          height: 100%;
        }
        .project-name {
          color: #fff;
          position: absolute;
          top: 10px;
          left: 10px;
          font-size: 16px;
        }
        .project-state {
          position: absolute;
          bottom: 10px;
          left: 10px;
          color: #fff;
        }
        .project-share {
          position: absolute;
          display: none;
          right: 5%;
          top: 10px;
          font-size: 25px;
        }
      }
    }
  }
}