.detail-com-container {
  margin: 0 auto;
  width: 920px;
  .return-to-prev {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ebeef5;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;

    .project-state {
      margin-left: 10px;
      margin-right: 5px;
    }
    .reservation-name {
      margin-left: 10px;
    }
    .project-authority {
      margin-left: 10px;
      margin-right: 5px;
    }
  }
  .reservations-list {
    margin-top: 15px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ebeef5;
    min-height: 500px;

    .reservations-search {
      display: flex;
      padding: 10px 5px;
      border-bottom: 1px solid #f1f1f1;

      .reservations-tel {
        margin-left: 10px;

        .tel-input {
          width: 150px;
        }
      }
      .reservations-state {
        margin-left: 10px;

        .state-select {
          width: 150px;
        }
      }
      .search-btn {
        margin-left: 20px;
      }
    }
    .reservations-list-body {
      .list-wrapper {
        min-height: 385px;
        .table-head {
          margin-top: 10px;
          background-color: rgba(242, 242, 242, 1);
        }
        .table-item {
          display: flex;
          .item {
            flex: 1;
            text-align: center;
            padding: 5px;
            line-height: 25px;
          }
          .name {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .remark {
            flex-grow: 3;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .operate {
            flex-grow: 2;
            .operate-set {
              color: $primary;
              cursor: pointer;
            }
          }
          .time {
            flex-grow: 2;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            .time-cell {
              margin-right: 3px;
            }
          }
          .date {
            flex-grow: 2;
          }
        }
      }
      .border-bottom {
        .el-input__inner {
          border-top: none;
          border-left: none;
          border-right: none;
          border-radius: 0;
        }
      }
      .reservations-list-bottom {
        display: flex;
        align-items: center;
        height: 40px;
        justify-content: space-between;
        margin: 10px 15px;

        .state-count {
          span {
            margin-right: 5px;
          }
        }
      }
    }
  }
}