.detail-com-container {
  margin: 0 auto;
  width: 920px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  min-height: 94%;
  position: relative;

  .return-to-prev-wrapper {
    padding-top: 24px;
    display: flex;

    .return-to-prev {
      margin: 0 36px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      height: 40px;
      padding-left: 10px;
      padding-right: 40px;
      border: 1px solid #dcdfe6;

      .router-link-active {
        height: 20px;
        display: flex;
        align-items: center;
      }
      .el-icon-back {
        color: $primary;
      }
      .project-state {
        margin-left: 40px;
        margin-right: 10px;
      }
      .reservation-name {
        margin-left: 10px;
      }

      .project-authority {
        margin-left: 40px;
        margin-right: 10px;
      }
    }
  }
  .reservations-list {

    .reservations-search {
      display: flex;
      padding: 24px 36px;

      .date-picker {
        width: 270px;
      }
      .reservations-tel {
        margin-left: 10px;

        .tel-input {
          width: 120px;
        }
      }
      .reservations-state {
        margin-left: 10px;

        .state-select {
          width: 100px;
        }
      }
      .search-btn {
        margin-left: 10px;
        height: 40px;

        .el-icon-loading {
          font-size: 14px!important;
        }
      }
    }
    .reservations-list-body {
      padding-bottom: 88px;

      .list-wrapper {
        margin: 0 36px;
        border: 1px solid #dcdfe6;

        .table-head {
          background-color: #dcdfe6;
        }
        .table-item {
          display: flex;
          .item {
            flex: 1;
            text-align: center;
            padding: 7.5px 5px;
            line-height: 25px;
          }
          .name {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .remark {
            flex-grow: 2;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .operate {
            flex-grow: 1.5;
            .operate-set {
              color: $primary;
              cursor: pointer;
            }
          }
          .time {
            flex-grow: 2.5;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            .time-cell {
              margin-right: 5px;
            }
          }
          .date {
            flex-grow: 1.5;
          }
        }
      }
      .no-reservation-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 160px;

        .no-reservation-icon {
          width: 170px;
          height: 120px;
        }
        .no-reservation-text {
          font-size: 18px;
          color: #999;
          margin-top: 24px;
        }
      }
      .border-bottom {
        .el-input__inner {
          border-top: none;
          border-left: none;
          border-right: none;
          border-radius: 0;
        }
      }
      .reservations-list-bottom {
        display: flex;
        align-items: center;
        height: 40px;
        justify-content: space-between;
        margin: 24px 36px;
        position: absolute;
        width: 848px;
        bottom: 0;

        .state-count {
          .state-number {
            color: #999;
            margin-right: 5px;
          }
        }
      }
    }
  }
}