.form-com-container {
  margin: 0 auto;
  width: 920px;

  .return-to-prev {
    height: 56px;
    line-height: 56px;
    background-color: $primary;
    color: #fff;
    padding-left: 30px;
    font-size: 18px;

    span {
      font-weight: bold;
    }
    i {
      color: #fff;
      font-weight: bold;
    }
  }
  .form-wrapper {
    border: 1px solid #ebeef5;
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    border-radius: 2px;

    .form-item-desc {
      background-color: rgba(215, 215, 215, 1);
      padding: 0 5%;
    }
    .img-wrapper {
      position: relative;

      .cover-wrapper {
        height: 420px;
      }

      .form-cover {
        height: 100%;
        width: 100%;
      }
      .change-cover-btn {
        position: absolute;
        top: 30px;
        right: 30px;

        .change-cover {
          width: 110px;
          height: 38px;
          border-radius: 20px;
        }
      }
      .imgs-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .imgs-item {
          flex: 18% 0 0;
          height: 72px;
          border: 1px solid;
          margin-bottom: 5px;
          cursor: pointer;
          .item-img-wrapper {
            width: 100%;
            height: 100%;
          }
          .img {
            width: 100%;
            height: 100%;
          }
        }

        .upload {
          position: relative;
          cursor: pointer;
          border: 1px solid;
          text-align: center;

          label {
            display: block;
            cursor: pointer;
          }

          .el-icon-upload {
            font-size: 45px;
          }

          input {
            position: absolute;
            clip:rect(0 0 0 0);
          }
        }
      }
    }
    .title-wrapper {
      margin: 0 30px;
    }
    .desc-wrapper {
      margin: 0 30px;
    }
    .form-address {
      display: flex;
      margin: 0 30px;
      .address-text {
        margin-right: 20px;
        width: 92px;
      }
      .address-input {
        width: 415px;
      }
    }
    #map-container {
      margin: 0 auto;
      width: 848px;
      height: 486px;
      margin-top: 24px;
    }
    #map-panel {
      position: absolute;
      background-color: white;
      max-height: 90%;
      overflow-y: auto;
      bottom: 10px;
      right: 35px;
      width: 280px;
    }
    .map-close {
      position: absolute;
      cursor: pointer;
      top: 80px;
      right: 50px;
      font-size: 25px;
      line-height: 25px;
      height: 25px;
      background-color: #f1f1f1;
      border-radius: 5px;
    }
    .form-check {
      margin: 0 30px;

      .check-text {
        margin-right: 24px;
        line-height: 40px;
        display: inline-block;
        width: 92px;
      }
    }
    .form-time-period-select {
      margin: 0 30px;
      .select-text {
        margin-right: 24px;
        line-height: 40px;
        display: inline-block;
        width: 92px;
      }
    }
    .form-settime-wrapper {
      .setting-pattern {
        margin-left: 146px;
        margin-bottom: 20px;
      }
      .normal-setting-wrapper {
        position: relative;
        margin-left: 146px;

        .normal-setting-item-wrapper {
          width: 455px;
          position: relative;

          &:hover {
            .operate-btn {
              display: block;
            }
          }
        }
        .normal-setting-item {
          display: flex;
          border-radius: 4px;
          border: 1px solid #dcdfe6;
          margin-bottom: 20px;
          width: 415px;

          .item-left {
            margin-left: 10px;
            position: relative;

            &::after {
              content: '';
              position: absolute;
              top: 10px;
              right: -10px;
              width: 1px;
              height: 20px;
              background-color: #f1f1f1;
            }
          }
          .item-right {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
          }
          .weekday-container {
            cursor: pointer;
            line-height: 20px;
          }
          .weekday {
            margin-right: 5px;
          }
          .number {
            width: 70px;
            line-height: 20px;
            font-size: 12px;
          }

          .operate-btn {
            position: absolute;
            right: 0px;
            width: 32px;
            text-align: center;
            display: none;
            color: $primary;
          }
        }
        .setting-content{
          display: flex;
          flex-direction: column;
          align-items: center;
          .fields{
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            .text {
              margin-right: 20px;
              display: inline-block;
              width: 60px;
            }
            .el-date-editor {
              width: 150px;
            }
            .middle-text {
              width: 60px;
              text-align: center;
              line-height: 40px;
            }
            .el-select{
              width: 360px;
            }
            .count-input {
              width: 360px;
            }
          }
        }
      }
    }
  }
  .form-btn {
    margin-left: 146px;
    margin-bottom: 20px;
  }
}
.el-time-panel {
  width: 150px;
}
