.form-com-container {
  margin: 0 20%;

  .form-wrapper {
    border: 1px solid #ebeef5;
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    border-radius: 2px;
    margin-top: 20px;

    .form-item-desc {
      background-color: rgba(215, 215, 215, 1);
      padding: 0 5%;
    }
    .img-wrapper {
      margin: 10px 5% 0 5%;
      position: relative;
      text-align: center;

      .form-cover {
        max-height: 300px;
        width: 100%;
      }
      .change-cover-btn {
        position: absolute;
        top: 3px;
        right: 5px;
      }
      .imgs-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .imgs-item {
          flex: 18% 0 0;
          height: 72px;
          border: 1px solid;
          margin-bottom: 5px;
          cursor: pointer;
        }

        .upload {
          position: relative;
          cursor: pointer;
          border: 1px solid;
          text-align: center;

          label {
            display: block;
            cursor: pointer;
          }

          .el-icon-upload {
            font-size: 45px;
          }

          input {
            position: absolute;
            clip:rect(0 0 0 0);
          }
        }
      }
    }
    .title-wrapper {
      margin: 0 5%;

      input {
        border: none;
        padding-left: 0;
        padding-right: 0;
      }
    }
    .desc-wrapper {
      margin: 0 5%;
    }
    .form-address {
      display: flex;
      margin: 0 5%;
      margin-bottom: 30px;
      .address-text {
        width: 10%;
        margin-right: 3%;
      }
      .address-input {
        width: 87%;
      }
    }
    #map-container {
      width: 100%;
      height: 500px;
    }
    #map-panel {
      position: absolute;
      background-color: white;
      max-height: 90%;
      overflow-y: auto;
      bottom: 10px;
      right: 10px;
      width: 280px;
    }
    .map-close {
      position: absolute;
      cursor: pointer;
      top: 70px;
      right: 5px;
      font-size: 45px;
    }
    .form-check {
      margin: 0 5%;

      .check-text {
        margin-right: 3%;
      }
    }
    .form-settime-wrapper {
      .setting-pattern {
        margin: 20px 5%;
      }
      .normal-setting-wrapper {
        position: relative;
        .normal-setting-item {
          display: flex;
          padding: 0 10% 0 5%;
          justify-content: space-between;
          background-color: #d7d7d7;
          margin-bottom: 20px;

          &:hover {
            .operate-btn {
              display: block;
            }
          }
          .weekday-container {
            cursor: pointer;
          }
          .weekday {
            margin-right: 10px;
          }
          .number {
            width: 70px;
          }

          .operate-btn {
            position: absolute;
            right: 5px;
            display: none;
            i {
              margin-right: 5px;
            }
          }
        }
        .setting-content{
          display: flex;
          flex-direction: column;
          align-items: center;
          .fields{
            margin-bottom: 30px;
            .text {
              margin-right: 20px;
              display: inline-block;
              width: 60px;
            }
            .time-input {
              width: 360px;
            }
            .el-select{
              width: 360px;
            }
            .count-input {
              width: 360px;
            }
          }
        }
      }
    }
  }
  .form-btn {
    text-align: right;
    margin-right: 20px;
  }
}
